   <p>Hello,</p>
    <p>  {{ name }} would like to buy our Learn VietNamese.</p>

    <b>Customer's Information:</b>

     <p>Name: <b>{{ name }},</b></p>
    <p>Phone:  <b>{{ phone }},</b></p> 

     <p>Created At: <b>{{ date}} </b> </p>
    
     <p>Please contact with the customer as soon as possible!..</p>
    
     <p>Regards,</p>
    <p>NNY</p> #
    
 <div>
   <p>----</p>
    NNY - Support Team
    Hotline: (+84)989 010 111
    Email: belearningvietnamese@gmail.com
    
    Follow Us at:
    - Website: https://learnVietNamese
    - Facebook: https://facebook.com/groups/
    - Youtube: https://www.youtube.com/channel/
    - Instagram: https://instagram.com/
    
 </div>